.sidebar{
    padding: 25px 15px;
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
}

.sidebar img{
    width: 20px;
}
.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
.sidebar .new-chat{
    gap: 10px;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 50px;
    background-color: #e6eaf1;
    color: gray;
}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}
.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    padding-right: 40px;
    border-radius:50px;
    color: #282828;
}
.sidebar .recent-entry:hover{
    background:#e2e6ea;
}
.sidebar .bottom{
    display: flex;
    flex-direction: column;
}
.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}
.sidebar .bottom a{
    text-decoration: none;
}
@media (max-width:600px){
    .sidebar{
        display: none;
    }
}